<section id="why-us" class="why-us">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="content">
            <h3>Why Choose LAPIT4H?</h3>
            <p>
              Super speciality Hospital and Research Centre. The Hospital bridged qualitative lacuna in the sphere of Medicine, especially amongst the super speciality branches of modern Medical Science. This healthcare facility is in the diamond capital of India, Surat, Gujarat, is open to all patients not only from the state of Gujarat, but also from across the country, and hopefully from other Countries as well.
            </p>
            <!-- <div class="text-center">
              <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
            </div> -->
          </div>
        </div>
        <div class="col-lg-8 d-flex align-items-stretch">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-receipt"></i>
                  <h4>Security and Compliance</h4>
                  <p>Our system should ensure the security and privacy of patient data. This means that it should comply with regulatory standards such as HIPAA, and that it should have strict controls in place to ensure the confidentiality and integrity of patient data.</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Comprehensive Functionality</h4>
                  <p>Our system should offer a full suite of features that cover all aspects of hospital management. This means it should be able to manage patient information, appointment scheduling, medical records, billing and insurance management, and more.</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-images"></i>
                  <h4>Scalability</h4>
                  <p>Our should be able to scale to meet the needs of hospitals of all sizes. This means it should be able to handle the data and operations of small clinics as well as large medical centers.</p>
                </div>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>
    </div>
  </section>
