<mat-card>
  <mat-card-header>
    <h1>Registration</h1>
  </mat-card-header>
  <mat-card-content>
    <form
      class="example-form"
      [formGroup]="registrationForm"
      (ngSubmit)="proceedregister()"
    >
      <!-- FirstName -->
      <div></div>
      <mat-form-field appearance="fill" class="mat-50">
        <mat-label>FirstName</mat-label>
        <input matInput formControlName="firstName" />
        <mat-error
          *ngIf="
            !registrationForm.get('firstName').valid &&
            registrationForm.get('firstName').touched
          "
          >Please enter firstName</mat-error
        >
      </mat-form-field>

      <!-- LastName -->
      <mat-form-field class="mat-50">
        <mat-label>LastName</mat-label>
        <input matInput formControlName="lastName" />
        <mat-error *ngIf="registrationForm.get('lastName').invalid"
          >Please enter lastName..</mat-error
        >
      </mat-form-field>

      <!-- Email -->
      <div class="example-container">
        <mat-form-field>
          <mat-label>Enter your email</mat-label>
          <input
            matInput
            placeholder="pat@example.com"
            formControlName="email"
          />
          <mat-error *ngIf="registrationForm.get('email').invalid"
            >Please enter valid email..</mat-error
          >
        </mat-form-field>
      </div>

      <!-- Pincode -->
      <mat-form-field class="mat-50">
        <mat-label>Pincode</mat-label>
        <input type="number" matInput formControlName="pincode" />
        <mat-error *ngIf="registrationForm.get('pincode').invalid"
          >Please enter valid pincode..</mat-error
        >
      </mat-form-field>

      <!-- Phone -->
      <mat-form-field class="mat-50">
        <mat-label>Phone</mat-label>
        <input matInput maxlength="10" matInput formControlName="phoneNum" />
        <mat-error
          *ngIf="registrationForm.errors?.['invalidPhone'] && getControl('phoneNum')?.touched"
          >Enter Only Digit..</mat-error
        >
      </mat-form-field>

      <!-- Address -->
      <mat-form-field>
        <mat-label>Address</mat-label>
        <!-- <input matInput> -->
        <textarea matInput formControlName="address"></textarea>
        <mat-error *ngIf="registrationForm.get('address').invalid"
          >Please enter valid address..</mat-error
        >
      </mat-form-field>

      <!-- Password -->
      <mat-form-field appearance="fill" class="mat-50">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
          type="button"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="registrationForm.get('password').invalid"
            >Please enter valid password..</mat-error
          >
      </mat-form-field>

      <!-- confirmPassword -->
      <mat-form-field appearance="fill" class="mat-50">
        <mat-label>confirm password</mat-label>
        <input
          matInput
          [type]="hide1 ? 'password' : 'text'"
          formControlName="confirmPassword"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide1 = !hide1"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide1"
          type="button"
        >
          <mat-icon>{{ hide1 ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error
          *ngIf="registrationForm.errors?.['passwordMismatch'] && getControl('confirmPassword')?.touched"
          >Password mismatched</mat-error
        >
      </mat-form-field>

      <!-- Gender -->
      <div>
        <mat-radio-group
          formControlName="gender"
          color="primary"
          aria-label="Select an option"
        >
          <!-- <mat-label>Gender</mat-label> -->
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
          <mat-radio-button value="other">Other</mat-radio-button>
        </mat-radio-group>
      </div>

      <!-- Button -->
      <div>
        <button class="mat-50" mat-raised-button color="primary" type="submit">
          Submit
        </button>
        <a
          class="mat-50"
          routerLink="/login"
          (click)="toLogin()"
          mat-raised-button
          color="accent"
          >Back to Login</a
        >
      </div>
    </form>
  </mat-card-content>
</mat-card>
