<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope"></i>
        <a href="mailto:contact@example.com">info@lapit4h.com </a>
        <i class="bi bi-phone"></i>+91 261 - 7161112
      </div>
      <div class="d-none d-lg-flex social-links align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
  </div>
  <!-- ======= Header ======= -->
  <!-- <app-header></app-header> -->
  
  <!-- End Header -->
  <!-- ======= Hero Section ======= -->
  <!-- <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Welcome to LAPIT4HOSPITAL</h1>
      <h2>We are team of talented and experiance Doctor</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section> -->
  <!-- End Hero -->
  
  <main id="main">
    <app-hero></app-hero>
    <!-- ======= Why Us Section ======= -->
    <app-why-us></app-why-us>
    <!-- End Why Us Section -->
  
    <!-- ======= About Section ======= -->
    <!-- <app-about></app-about> -->
    <!-- End About Section -->
  
    <!-- ======= Counts Section ======= -->
    <app-count></app-count>
    <!-- End Counts Section -->
  
    <!-- ======= Services Section ======= -->
    <!-- <app-service></app-service> -->
    <!-- End Services Section -->
  
    <!-- ======= Appointment Section ======= -->
    <!-- <app-appointment> </app-appointment> -->
    <!-- End Appointment Section -->
  
    <!-- ======= Departments Section ======= -->
    <app-department></app-department>
    <!-- End Departments Section -->
  
    <!-- ======= Doctors Section ======= -->
    <app-doctor></app-doctor>
    <!-- End Doctors Section -->
  
    <!-- ======= Frequently Asked Questions Section ======= -->
    <!-- <app-frequently-asked-questions></app-frequently-asked-questions> -->
    <!-- End Frequently Asked Questions Section -->
  
    <!-- ======= Testimonials Section ======= -->
    <!-- <app-testimonials></app-testimonials> -->
    <!-- End Testimonials Section -->
  
    <!-- ======= Gallery Section ======= -->
    <app-gallery></app-gallery>
    <!-- End Gallery Section -->
  
    <!-- ======= Contact Section ======= -->
    <!-- <app-contact></app-contact> -->
    <!-- End Contact Section -->
  </main>
  <!-- End #main -->
  <!-- ======= Footer ======= -->
  <!-- <router-outlet></router-outlet> -->
  <!-- <app-footer></app-footer> -->
  <!-- End Footer -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
  </a>
  
