/* Center the "Page Not Found" message vertically and horizontally */
:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  p {
    font-size: 1rem;
    color: #777;
  }
  
  .container{
    margin: 15% auto 5% 34%;
    /* margin-left: 35%; */
    position: sticky;
    justify-content: center;
  }