.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #212121; /* updated background color */
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #fff; /* added text color */
  }
  
  .navbar-create-post {
    margin-left: auto;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .navbar-create-post:hover {
    background-color: #2980b9;
  }

  


.card {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}

.card-subtitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.btn {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: bold;
}

.btn-outline-primary {
  color: #3498db;
  border: 2px solid #3498db;
}

.btn-outline-primary:hover {
  background-color: #3498db;
  color: #fff;
}

.btn-outline-danger {
  color: #e74c3c;
  border: 2px solid #e74c3c;
}

.btn-outline-danger:hover {
  background-color: #e74c3c;
  color: #fff;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col-md-4 {
  flex: 0 0 33.333%;
  max-width: 33.333%;
  padding: 0 15px;
}

.col-sm-12 {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}