<section id="services" class="services">
    <div class="container">
      <div class="section-title">
        <h2>Services</h2>
        <p>Allow patients to schedule appointments with healthcare providers, access medical records, and communicate with healthcare professionals. This can be particularly helpful for patients who want to manage their health care in a more efficient and convenient manner.</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-tasks"></i></div>
            <h4><a href="">Administrative services</a></h4>
            <p>These may include patient registration and admission, insurance and billing services, medical records management, and appointment scheduling.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-procedures"></i></div>
            <h4><a href="">Ancillary services</a></h4>
            <p>These may include laboratory and imaging services, pharmacy services, rehabilitation services, and nutrition services.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-ambulance"></i></div>
            <h4><a href="">Emergency services</a></h4>
            <p>emergency medical care, trauma care, and critical care services for patients who require immediate attention.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-video"></i></div>
            <h4><a href="">Telemedicine services</a></h4>
            <p>These may include remote medical consultations, virtual follow-up visits, and online appointment scheduling and management.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-clinic-medical"></i></div>
            <h4><a href="">Outpatient services</a></h4>
            <p> These may include medical consultations, diagnostic tests, and minor procedures that do not require an overnight stay.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-hospital"></i></div>
            <h4><a href="">Inpatient services</a></h4>
            <p>These may include medical and surgical procedures that require hospitalization and monitoring, such as surgeries, childbirth, and intensive care.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
