<div ngxUiLoaderBlurred (blur)="10">
<div
  *ngIf="isMenuRequired"
  id="topbar"
  class="d-flex align-items-center fixed-top"
>
  <div class="container d-flex justify-content-between">
    <div class="contact-info d-flex align-items-center">
      <i class="bi bi-envelope"></i>
      <a href="mailto:contact@example.com">info@lapit4h.com </a>
      <i class="bi bi-phone"></i>+91 261 - 7161112
    </div>
    <div class="d-none d-lg-flex social-links align-items-center">
      <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
      <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
      <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
    </div>
  </div>
</div>
<!-- ======= Header ======= -->
<app-header *ngIf="isMenuRequired"></app-header>

<main id="main">
  <app-main *ngIf="role == 'hospital'"></app-main>
  <router-outlet></router-outlet>
</main>

<app-footer *ngIf="isMenuRequired"></app-footer>
<!-- End Footer -->
<a
  href="#"
  class="back-to-top d-flex align-items-center justify-content-center"
>
  <i class="bi bi-arrow-up-short"></i>
</a>


  
</div>
<ngx-ui-loader fgsColor="#0dcaf0"></ngx-ui-loader>